* text=auto

*.py text eol=lf
*.html text eol=lf
*.bat text eol=crlf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf

*.exe binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.xlsx binary
*.xls binary
*.docx binary
*.doc binary